[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pdb = "*"
python-pdb = "*"
pyinstaller = "*"
python-pyinstaller = "*"
py-pyinstaller = "*"
pyinstaller-python = "*"
pyinstaller-py = "*"

[requires]
python_version = "3.7"
